* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Circularstd';
  src: url('./utils/fonts/circular-std-medium-500.ttf');
}

@font-face {
  font-family: 'Book';
  src: url('./utils/fonts/CircularStd-Book.ttf');
}

:root {
  --fontFamily: 'Circularstd';
  --small: 12px;
  --medium: 16px;
  --big: 24;
  --large: 32
}

.button_content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.button_content .text {
  padding: 8px;
}

/* Header Section  */
.heroContainer {
  width: 100%;
  background: linear-gradient(124deg, rgba(73, 28, 139, 1) 47%, rgba(85, 40, 150, 1) 65%, rgba(100, 43, 187, 1) 78%)
}

.main-hero {
  width: 80%;
}

.section {
  display: flex;
  color: #fff;
}

.section__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0 60px;
  padding: 12px;
}

.link__container {
  display: flex;
  align-items: center;
}

.section__logo img {
  width: 150px;
}

.main__link {
  margin-right: 40px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  /* font-weight: 400; */
  font-style: normal;
  font-family: var(--fontFamily);
}


/* Hero section */
.hero {
  display: flex;
  flex: 1;
  margin-top: 5%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  padding: 20px;
  margin: auto;
  width: 90%
}

.timely__header {
  padding: 15px
}

.timely__header .timely__text {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Book';
  text-align: center;
}

.gradient__01 {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(156deg, rgba(16, 254, 245, 1) 44%, rgba(74, 223, 192, 1) 78%);
  font-family: 'Circularstd'
}

.timely__main {
  font-family: 'Circularstd';
  font-style: normal;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 120px;
  line-height: 108px;
  text-align: center;
}

.timely__last {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Book';
  margin: 25px 0;
  text-align: center;
  width: 50%;
}

.gradient__02 {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(-40deg, #18ffc3, #d4bbff, #8578e6, #18ffc3, #d4bbff) !important;
  background-size: 300%;
  animation: gradient 10s ease infinite;
}

.timely__button {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Video section  */
.video {
  display: flex;
  justify-content: center;
  align-items: center;

}

.video__container {
  width: 90%;
  padding: 0 0 100px 0;
}

.video__container video {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

/* companies images */
.timely__companies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  padding: 5px 0;
  width: 100%;
}

.timely__companiesHeader {
  text-align: center;
  margin: 15px 0;
}

.timely__images {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.timely__images .main__image {
  margin: 2px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

/* The second component is starting from here */
.tracking {
  margin: 40px 0;
}

.tracking__container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 40px;
  margin: 50px;
  border-radius: 20px;

}

.tracking .tracking__mainContent {
  width: 50%;
  border-radius: 20px;
}

.tracking .tracking__mainContent p {
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-family: 'Book';
  font-weight: 400;
  color: rgb(0, 17, 65);
  margin-bottom: 30px;
}

.tracking__mainContent p:nth-child(3) {
  margin-bottom: 0;
}

.tracking__text {
  width: 40%;
  border-radius: 20px;
}

.tracking__text p {
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  font-style: normal;
  color: rgb(0, 17, 65);
  font-family: var(--fontFamily);
}

.tracking__text span {
  color: rgb(138, 63, 252);
}

.tracking .borderBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.borderBottom span {
  width: 6%;
  height: 2px;
  background-color: #8b3ffc83;
  margin-bottom: 70px;
}

.tracker__container {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding: 20px;
  gap: 20px;

  border-radius: 20px;

}

.track__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border-radius: 20px;

}

.track__data .icon {
  font-size: 50px;
  color: #A368FD !important;
}

.track__data .title {
  font-size: 35px;
  color: rgb(0, 17, 65);
  font-family: var(--fontFamily);
  font-style: normal;
  font-weight: 700;
  margin: 15px 0 0 0;
}

.track__data .content {
  font-size: 20px;
  font-family: 'Book';
  font-weight: 400;
  color: rgb(105, 112, 119);
  font-style: normal;
  line-height: 30px;
  margin-bottom: 25px;
}

.track__data .link {
  color: rgb(138, 63, 252);
  text-decoration: none;
  display: flex;
  align-items: center;


}

.track__data .link span {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The trusted container is starting here */
.TrustedContainer {
  display: flex;
  background-color: #6829C4;
  width: 100%;
  gap:20px;
}
.trustContainer {
  flex: .5;
}

.scrollContainer {
  flex:.5;
}
.trusted__container {
  margin: 50px;
  padding: 20px;
}

.trusted__map {
  display: flex;
}
.trust__d{
  display: flex;
}
.trust__data {
  margin-left: 30px
}
.trust__data img{
  width:70px;
}
.trusted__content .title, .content{
  margin-top:20px;
}
.trusted__content .title p{
  font-size: 72px;
  font-family: var(--fontFamily);
  font-weight: 700;
  line-height: 70px;
  font-style: normal;
}
.trusted__content .content p{
  font-size: 20px;
  font-family:'Book';
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  margin-bottom:30px;
}
/* MEDIA QUERY FOR header */

@media screen and (max-width: 992px) {
  .link__container {
    display: none
  }

  .section__logo img {
    width: 130px;
  }

  .hero__container {
    width: 100%
  }
}

@media screen and (max-width:768px) {
  .section__container {
    padding: 10px;
    margin: 0 20px;
  }

  .timely__main {
    font-size: 100px;
    width: 80%;
    line-height: 100px;
    text-align: center;
  }

  .timely__main .content {
    line-height: 30px;
  }

  .timely__last {
    width: 90%;
  }

  .tracking__container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
  }

  .tracking .tracking__mainContent {
    width: 100%
  }

  .tracking__text {
    width: 90%
  }

  .tracking__text p {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    font-style: normal;
    color: rgb(0, 17, 65);
    font-family: var(--fontFamily);
  }

  .tracking .tracking__mainContent p {
    font-size: 18px;
    line-height: 27px;
  }

  .tracker__container {
    flex-direction: column;
    margin: 30px;
    padding: 15px;
  }
  .TrustedContainer {
    flex-direction: column;
  }

  .track__data {
    align-items: center;
  }

  .track__data .title {
    font-size: 28px;
  }

  .track__data .content {
    text-align: center;
  }

  .track__data .content {
    font-size: 18px;
    line-height: 28px;
  }

  .borderBottom span {
    width: 8%;
  }
  .trusted__container {
    margin:60px 10px;
    padding: 5px;
    align-items: left;
  }
  .trusted__map {
   flex-direction: column;
    align-items: left;
  }
  .trust__data img{
    width:50px;
  }
  .trusted__content .title p{
    font-size: 52px;
    line-height: 50px;
  }
  .trusted__content .content p{
    font-size: 18px;
    line-height: 26px;
  }
}

@media screen and (max-width:468px) {
  .timely__main {
    font-size: 30px;
    line-height: 27px;
    text-align: center;
  }
}